[submodule "external/cfdi-class"]
	path = external/cfdi-class
	url = https://github.com/ulisesten/cfdi-class.git
[submodule "external/xerces-c"]
	path = external/xerces-c
	url = https://github.com/apache/xerces-c.git
	branch = xerces-3.2.2
[submodule "external/libxslt"]
	path = external/libxslt
	url = https://github.com/ulisesten/libxslt.git
[submodule "external/libxml2"]
	path = external/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
